
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="assets/styles/main.css"/>
    <title>旺福與你一起創作的聖誕曲</title>
  </head>
  <body>
    <form id="csrf-form">
      @Html.AntiForgeryToken()
    </form>
    <div class="full_loader show">
      <p>下載中<span class="count">0</span>%</p>
      <div class="loader">
        <div class="sk-fading-circle">
          <div class="sk-circle sk-circle1"></div>
          <div class="sk-circle sk-circle2"></div>
          <div class="sk-circle sk-circle3"></div>
          <div class="sk-circle sk-circle4"></div>
          <div class="sk-circle sk-circle5"></div>
          <div class="sk-circle sk-circle6"></div>
          <div class="sk-circle sk-circle7"></div>
          <div class="sk-circle sk-circle8"></div>
          <div class="sk-circle sk-circle9"></div>
          <div class="sk-circle sk-circle10"></div>
          <div class="sk-circle sk-circle11"></div>
          <div class="sk-circle sk-circle12"></div>
        </div>
      </div>
    </div>
    <header><img src="assets/images/logo.png" alt="" class="logo"/>
      <nav id="menu">
        <ul class="flex"><img src="assets/images/menu-title.png" alt="" class="title"/>
          <li><a href="/tc/">回首頁看影片</a></li>
          <li><a href="/tc/tour/">選路線抽機票拿折扣</a></li>
          <li><a href="/tc/map/">旺福聖誕地圖</a></li>
          <li><a href="#">活動辦法</a></li>
          <li><a href="http://www.discoverhongkong.com/tc/about-hktb/index.jsp" target="_blank">香港旅遊局官網</a></li>
          <li><a href="https://www.facebook.com/discoverhongkong.tw/" target="_blank">香港逗陣行粉絲團</a></li>
        </ul>
      </nav>
      <div class="menu-switch">
        <div class="box"><span></span><span></span><span></span></div>
      </div>
    </header>
    <main>
      <section id="home">
        <div id="bg_home"></div>
        <div id="step1" class="step"><img src="assets/images/home-title.png" alt="" class="title"/>
          <div class="content">
            <div class="row">
              <div class="btn btn--big btn-to_step2"><span>PLAY</span></div>
            </div>
            <div class="row"><a href="./tour/" class="btn btn-to_vote"><span>選旺福路線抽機票，領取機票折扣</span></a></div>
          </div>
        </div>
        <div id="step2" class="step">
          <div class="title">
            <h2 class="big_title color_red">請於卡片處填入姓名</h2>
          </div>
          <div class="name_input">
            <form action="">
              <input id="name1" type="text" maxlength="1" placeholder=""/>
              <input id="name2" type="text" maxlength="1" placeholder=""/>
              <input id="name3" type="text" maxlength="1" placeholder=""/>
            </form>
          </div>
          <div class="content">
            <div class="btn btn--big btn-to_step3"><span>看MV</span></div>
          </div>
        </div>
        <div id="step3" class="step">
          <div class="loading">
            <p class="tips">等一下下喔<br/>下載即將完成</p>
                <div class="loader">
                  <div class="sk-fading-circle">
                    <div class="sk-circle sk-circle1"></div>
                    <div class="sk-circle sk-circle2"></div>
                    <div class="sk-circle sk-circle3"></div>
                    <div class="sk-circle sk-circle4"></div>
                    <div class="sk-circle sk-circle5"></div>
                    <div class="sk-circle sk-circle6"></div>
                    <div class="sk-circle sk-circle7"></div>
                    <div class="sk-circle sk-circle8"></div>
                    <div class="sk-circle sk-circle9"></div>
                    <div class="sk-circle sk-circle10"></div>
                    <div class="sk-circle sk-circle11"></div>
                    <div class="sk-circle sk-circle12"></div>
                  </div>
                </div>
          </div>
          <div class="content">
            <div class="btn btn-to_step4"><span>Loading Done</span></div>
          </div>
        </div>
        <div id="step4" class="step">
          <div class="content">
            <div class="btn btn--big btn-play"><span>播放</span></div>
          </div>
        </div>
        <div id="step5" class="step">
          <div id="video">
          </div>
          <div class="content">
            <div class="btn btn-share"><span> 求你，分享一下MV</span></div><a href="./tour/" class="btn"><span>選旅行路線，抽機票</span></a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="inner">
        <div class="social_media"><a href="https://www.facebook.com/discoverhongkong.tw/" target="_blank" class="fb"></a><a href="https://www.instagram.com/discoverhongkong/" target="_blank" class="ig"></a><a href="https://www.youtube.com/channel/UCtzLfNpmtYgWOIHys7eCucg" target="_blank" class="utube"></a></div>
        <div class="policy">
          <p>版權所有©2017香港旅遊發展局。</p><a href="http://www.discoverhongkong.com/tc/about-hktb/privacy-policy.jsp" target="_blank">資料隱私政策</a><a href="http://www.discoverhongkong.com/tc/about-hktb/cookies-policy.jsp" target="_blank">記錄精靈(Cookies)政策</a><a href="http://www.discoverhongkong.com/tc/about-hktb/terms-of-use.jsp" target="_blank">網站使用條款</a>
        </div>
        <div class="logo"><a href="http://www.discoverhongkong.com/tc/about-hktb/index.jsp" target="_blank"><img src="assets/images/logo-b1.png" alt=""/></a><a href="http://www.discoverhongkong.com/tc/index.jsp" target="_blank"><img src="assets/images/logo-b2.png" alt=""/></a></div>
      </div>
    </footer>
    <script src="assets/scripts/jquery-3.2.1.min.js"></script>
    <script src="assets/scripts/imagesloaded.pkgd.min.js"></script>
    <script src="assets/scripts/TweenMax.min.js"></script>
    <script src="assets/scripts/hammer.min.js"></script>
    <script src="assets/scripts/device.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="assets/scripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
    <script src="assets/scripts/home.js"></script>
  </body>
</html>