footer
	.inner
		.social_media
			a(href="https://www.facebook.com/discoverhongkong.tw/" target='_blank').fb
			a(href="https://www.instagram.com/discoverhongkong/" target='_blank').ig
			a(href="https://www.youtube.com/channel/UCtzLfNpmtYgWOIHys7eCucg" target='_blank').utube

		.policy
			p 版權所有©2017香港旅遊發展局。
			a(href="http://www.discoverhongkong.com/tc/about-hktb/privacy-policy.jsp" target='_blank') 資料隱私政策
			a(href="http://www.discoverhongkong.com/tc/about-hktb/cookies-policy.jsp" target='_blank') 記錄精靈(Cookies)政策
			a(href="http://www.discoverhongkong.com/tc/about-hktb/terms-of-use.jsp" target='_blank') 網站使用條款
		.logo
			a(href="http://www.discoverhongkong.com/tc/about-hktb/index.jsp" target='_blank')
				img(src="/tc/assets/images/logo-b1.png", alt="")
			a(href="http://www.discoverhongkong.com/tc/index.jsp" target='_blank')
				img(src="/tc/assets/images/logo-b2.png", alt="")



script(src='tc/assets/scripts/lib.js')
//- script(src='/tc/assets/scripts/jquery-3.2.1.min.js')
//- script(src='/tc/assets/scripts/imagesloaded.pkgd.min.js')
//- script(src='/tc/assets/scripts/TweenMax.min.js')
//- script(src='/tc/assets/scripts/hammer.min.js')
//- script(src='/tc/assets/scripts/device.min.js')

script(src='/tc/assets/scripts/main.js')
