footer

//- script(src='assets/scripts/lib.min.js')
script(src='assets/scripts/jquery-3.2.1.min.js')
script(src='assets/scripts/TweenMax.min.js')
script(src='assets/scripts/hammer.min.js')

script(src='assets/scripts/main.js')