footer
	.inner
		.social_media
			a(href="https://www.facebook.com/discoverhongkong.tw/" target='_blank').fb
			a(href="https://www.instagram.com/discoverhongkong/" target='_blank').ig
			a(href="https://www.youtube.com/channel/UCtzLfNpmtYgWOIHys7eCucg" target='_blank').utube

		.policy
			p 版權所有©2017香港旅遊發展局。
			a(href="http://www.discoverhongkong.com/tc/about-hktb/privacy-policy.jsp" target='_blank') 資料隱私政策
			a(href="http://www.discoverhongkong.com/tc/about-hktb/cookies-policy.jsp" target='_blank') 記錄精靈(Cookies)政策
			a(href="http://www.discoverhongkong.com/tc/about-hktb/terms-of-use.jsp" target='_blank') 網站使用條款
		.logo
			a(href="http://www.discoverhongkong.com/tc/about-hktb/index.jsp" target='_blank')
				img(src="tc/assets/images/logo-b1.png", alt="")
			a(href="http://www.discoverhongkong.com/tc/index.jsp" target='_blank')
				img(src="tc/assets/images/logo-b2.png", alt="")



//- script(src='tc/assets/scripts/lib.min.js')
script(src='tc/assets/scripts/jquery-3.2.1.min.js')
script(src='tc/assets/scripts/imagesloaded.pkgd.min.js')
script(src='tc/assets/scripts/TweenMax.min.js')
script(src='tc/assets/scripts/hammer.min.js')
script(src='tc/assets/scripts/device.min.js')

script(src='tc/assets/scripts/main.js')

<!-- START OF SmartSource Data Collector TAG -->
<!-- Copyright (c) 1996-2012 Webtrends Inc.  All rights reserved. -->
<!-- Version: 9.4.0 -->
<!-- Tag Builder Version: 4.0  -->
<!-- Created: 4/16/2012 8:15:10 AM -->
<script src="tc/assets/scripts/webtrends.js" type="text/javascript"></script>
<!-- ----------------------------------------------------------------------------------- -->
<!-- Warning: The two script blocks below must remain inline. Moving them to an external -->
<!-- JavaScript include file can cause serious problems with cross-domain tracking.      -->
<!-- ----------------------------------------------------------------------------------- -->
<script type="text/javascript">
//<![CDATA[
var _tag=new WebTrends();
_tag.dcsGetId();
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
_tag.dcsCustom=function(){
// Add custom parameters here.
//_tag.DCSext.param_name=param_value;
}
_tag.dcsCollect();
//]]>
</script>
<noscript>
<div>
<img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="//sdc.discoverhongkong.com/dcssthgkq100004fm65d9xfpj_2f7u/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.discoverhongkong.com"/>
</div>
</noscript>
<!-- END OF SmartSource Data Collector TAG -->
