

img(src="assets/images/logo.png", alt="").logo

nav#menu
	ul.flex
		img(src="assets/images/menu-title.png", alt="").title
		li
			a(href="") 回首頁看MV
		li
			a(href="") 幫幫旺福決定旅行路線啦
		li
			a(href="") 旺福聖誕地圖
		li
			a(href="") 香港逗陣行粉絲團
		li
			a(href="") 香港旅遊發展局官網

.menu-switch
	.box
		span
		span
		span






