

img(src="assets/images/logo.png", alt="").logo

nav#menu
	ul.flex
		img(src="assets/images/menu-title.png", alt="").title
		li
			a(href="./") 回首頁看影片
		li
			a(href="./tour.html") 選路線抽機票拿折扣
		li
			a(href="./map.html") 旺福聖誕地圖
		li
			a(href="#") 活動辦法
		li
			a(href="http://www.discoverhongkong.com/tc/about-hktb/index.jsp" target='_blank') 香港旅遊局官網
		li
			a(href="https://www.facebook.com/discoverhongkong.tw/" target='_blank') 香港逗陣行粉絲團

.menu-switch
	.box
		span
		span
		span






