

img(src="/tc/assets/images/logo.png", alt="").logo

nav#menu
	ul.flex
		img(src="/tc/assets/images/menu-title.png", alt="").title
		li
			a(href="./") 回首頁看影片
		li
			a(href="./tour/") 選路線抽機票拿折扣
		li
			a(href="./map/") 旺福聖誕地圖
		li
			a(href="#").poprule 活動辦法
		li
			a(href="http://www.discoverhongkong.com/tc/index.jsp" target='_blank') 香港旅遊發展局
		li
			a(href="https://www.facebook.com/discoverhongkong.tw/" target='_blank') 香港逗陣行粉絲團

.menu-switch
	.box
		span
		span
		span






