meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

meta(name='keywords', content='港覺有夠好,香港,旺福,聖誕,跨年煙火')
meta(name="description" content="你的聖誕歌，你當主角，旺福唱給你聽！打造專屬你的聖誕MV，香港繽紛冬日限定！首次公開！選擇旺福行程，再抽香港雙人來回機票！")

meta(property='og:title', content='港覺有夠好｜旺福為你創作的聖誕歌曲')
meta(property='og:description', content='你的聖誕歌，你當主角，旺福唱給你聽！打造專屬你的聖誕MV，香港繽紛冬日限定！首次公開！選擇旺福行程，再抽香港雙人來回機票！')

meta(property='og:type', content='website')
meta(property='og:url', content='https://hkwonderful.discoverhongkong.com/tc/')
meta(property='og:image', content='https://hkwonderful.discoverhongkong.com/tc/assets/images/share01.png')
link(rel='shortcut icon', href='')

link(rel="stylesheet", href="/tc/assets/styles/main.css")
