include _mixin.jade

section.popup#rules
	+btn-close
	.inner
		h2.big_title
			|2017香港繽紛冬日網路活動
			br
			|活動條款及細則
		ol.detail
			li 參加活動前，所有參加者必須細閱及遵守以下條款及細則。閣下的參與將代表閣下已閱讀及同意各項條款細則及以下履行個人資料保護法義務告知書。
			li 持中華民國護照之台、澎、金、馬地區20歲或以上之居民方有資格參加活動。
			li 本活動期間為2017年11月27日下午12時正至2017年12月31日下午11時59分，以台灣時間為準。
			li
				|參加辦法：
				br
				| 於「香港繽紛冬日網路活動」活動網頁完成以下步驟，即可參加抽獎。
				ul
					li 選擇任一樂團成員之行程，並輸入個人資料，即可參加抽獎。
					li 每名參加者於整個活動推廣期間內，每日參加次數不限，但於整個活動推廣期間內僅有一次中獎機會。
			li 活動獎項：台北/台中/高雄至香港經濟艙來回機票2張，共計1名得獎者。
			li 抽獎方法：主辦單位於2018年1月3日，由電腦隨機抽出1名得獎者。
				ul
					li 主辦單位於2018年1月5日前於本活動網頁公佈得獎者，並透過電話通知得獎者。
					li 得獎者須於2018年1月12日前回覆個人資料包括姓名、電話、電子郵件、郵寄地址與年歲證明，作為確認並送遞獎項之用。
					li 主辦單位收到得獎者的領獎資料後，將以電郵方式要求得獎者於3個工作天內核實身份。主辦單位將根據此核實資料將獎項送達予得獎者，送達過程如有遺失或缺損，主辦單位恕不負責。
					li 逾期提交資料及身份證明，將被取消資格。
			li 注意事項：
				ul
					li 得獎者最遲須於2018年3月31日（含）前憑兌獎信正本向兌獎信內指定方式完成機票的預訂，逾期兌獎，視同放棄得獎資格，不得向主辦單位提出異議，使用機票將受到相關條款限制。
					li 獎項內容包含自開票日期起3個月內出發之台北/台中/高雄至香港經濟艙來回成人機票2張。(30天個人票、不含機場稅、燃油費及規費、可能不適用於特定日期)，且不含辦理赴港簽證之相關手續費用、由居住地往返台灣機場之交通費用、旅行保險及個人消費（如當地交通、餐費及酒店住宿及個人消費等）。
					li 此獎項限得獎者本人使用。可攜同1名年滿20歳的親友同行。
					li 機票開立後不可變更航點、不可辦理退票。
					li 主辦單位應依相關法令扣取稅款，得獎者並須依規定填寫並繳交相關中獎收據，若無法配合，則視為自動棄權，不具中獎資格。


			li 所有獎項不可轉換、轉讓或兌換現金。主辦單位保留更改獎項的權利，毋須另行通知。
			li 參加者需保證所有填寫或提出之資料均為真實且正確，如有不實或不正確之情事，將被取消參加資格，主辦單位不負任何責任，且如有致損害於主辦單位或其他任何第三人，參加者應負一切民刑事責任。
			li 本活動由主辦單位及合作廠商貓取廣告股份有限公司（下稱「合作廠商」）整合規劃。主辦單位及合作廠商為進行本活動之目的，將直接蒐集參加者的臉書帳號、姓名、電話、電子郵件、郵寄地址等得以直接或間接方式識別參加者之資料，並進行處理、利用（包括國際傳輸）。主辦單位及合作廠商依個人資料保護法有告知參加者之義務，詳細告知內容請參閱以下履行個人資料保護法義務告知書。
			li 參加者不得上載任何非法的、有害的、恐嚇性的、辱罵性的、騷擾性的、民事侵權的、破壞名譽的、粗俗的、淫穢的、誹謗的、侵犯他人私隱的、仇恨性的、道德上、在種族、人種等方面或其他方面會引起反感、或違反任何國家或其他任何具法律效力的規則的文字。參加者應全部且有效地賠償旅發局任何直接地或間接地因參加者上載文字而引起或造成之所有費用、請求及損害。如主辦單位認為參加者上載文字有違反此等條款及細則，主辦單位及合作廠商有權自行判斷移除任何上載文字。
			li 若參加者以電腦程式或其他違反活動公平性之方式或有違法之行為，一經主辦單位發現或經第三人檢舉，不符合活動辦法，或有違反活動注意事項之行為，可得取消其參加或得獎資格，如因此所生之損害，主辦單位得向參加者請求損害賠償。
			li 活動因故無法進行時，主辦單位有權決定取消、終止、修改或停止活動。
			li 任何因電腦、網路等技術問題而引致參加者所遞交的資料有遲延、遺失、錯誤、無法辨識等情況，主辦單位概不負責。
			li 主辦單位保有活動辦法變更權，擁有保留修改活動內容之權利，修改訊息將於活動網頁公佈不另行通知。
			li 香港旅發局及合作廠商員工均不得參加。
			li 主辦單位可隨時對上述之條款及細則作出修改而毋須另行通知，如有任何爭議，主辦單位保留活動之最終決定權。
			li 如有任何查詢，歡迎電郵至客服信箱(jessin@catchad.com.tw)請求協助。
		h2.big_title
			|香港商香港旅發局有限公司台灣分公司
			br
			|履行個人資料保護法義務告知書
		ol.detail
			p 主辦單位香港商香港旅發局有限公司台灣分公司於下列所述之範圍內，將蒐集、處理、利用、傳輸（包括國際傳輸及司法管轄領域間傳輸）參加者之個人資料，茲依據個人資料保護法第9條、第19條及第21條等規定，向您告知下列事項：
			li 蒐集之目的：進行「2017香港繽紛冬日網路活動」（下稱「本活動」）。根據法務部「個人資料保護法之特定目的及個人資料之類別」（下稱「本規則」）之規定，包括下列特定目的：(040)行銷、(069)契約、類似契約或其他法律關係事務、(090)消費者、客戶管理與服務，以及(170)觀光行政、觀光旅遊業、旅館業、旅行業、觀光遊樂業及民宿經營管理業務。
			li 個人資料之類別：臉書帳號、姓名、電話、電子郵件、郵寄地址等得以直接或間接方式識別參加者之資料（依據本規則之規定，屬於「(C001)辨識個人者」之個人資料）。
			li 利用之期間：本活動期間。主辦單位之合作廠商貓取廣告股份有限公司將於本活動結束時將參加者之個人資料全數銷毀，不另作他用。但取得中獎者個別之書面同意者，不在此限。
			li 利用之地區：台灣及香港。
			li 利用之對象：主辦單位及其關係企業之代表人、董監事、員工、代理人、專業顧問或與主辦單位及其關係企業因業務需要訂有契約關係或業務往來之機構。
			li 利用之方式：符合個人資料保護相關法令以自動化機器或其他非自動化之利用方式之蒐集、處理、利用及國際傳輸（包括但不限於使用電子文件、紙本或其他合於當時科學技術之適當方式等）。
			li 參加者行使權利之方式：於本活動期間，參加者就主辦單位保有之個人資料，得向主辦單位要求行使下列權利：
				ul
					li 查詢、請求閱覽或請求製給複製本，而主辦單位依法得酌收必要成本費用。
					li 請求補充或更正，惟依法參加者應為適當之釋明。
					li 請求停止蒐集、處理、利用或國際傳輸及請求刪除，惟依法主辦單位因執行業務所必須者，得不依參加者請求為之。
			li 參加者如不提供個人資料者，即無法取得本活動之贈品。

section.popup#spot_info
	+btn-close
	.inner
		img(src="/tc/assets/images/deco-firework.png", alt="").deco-firework
		h2.big_title
			span.name
			|的香港聖誕路線

		h3.spot
			span.style
			span.location

		#img_show
			.flex

		.info
			.desc
			a(href="" target="_blank").btn-linkto


section.popup#spot_image
	+btn-close
	.inner
		img(src="", alt="")
