include _mixin.jade
section.popup#spot_info
	+btn-close
	.inner
		h2.big_title
			span.name 推機
			|的香港聖誕行程

		h3.spot
			span.style 雅痞聖地
			span.location 堅尼地城

		//- 套hammer js?
		#img_show
			.flex
				.item
					img(src="/tc/assets/images/tour_sample.jpg", alt="")
					p.name 科士街石牆樹
				.item
					img(src="/tc/assets/images/tour_sample.jpg", alt="")
					p.name 科士街石牆樹
				.item
					img(src="/tc/assets/images/tour_sample.jpg", alt="")
					p.name 科士街石牆樹
				.item
					img(src="/tc/assets/images/tour_sample.jpg", alt="")
					p.name 科士街石牆樹

		.info
			.tags
				.tag 文青
				.tag 情侶

			.desc
				p 隨著港鐵站通車，港畔老街的悠閒情致，吸引不少新派餐廳店舖進駐，帶來了當代雅痞歐風，儼然是港島最新的小SoHo區。走在新海傍街上，浪漫的海洋氣味撲鼻而來，釣魚老手和熱戀情侶都喜歡在此流連，欣賞夕陽西落的美景。若想就著海濱風光大啖美食不妨到小酒館 ，天氣好時窗外一片湛藍海港、青丐大橋與緩緩來往的船隻，如畫一般的美景！吃著嚴選生蠔配上香檳與無敵海景，宛如沉浸在南歐的愜意氛圍。
				p 充滿異國風情的現烤Pizza也是不錯的選擇，牆面上強烈鮮豔的塗鴉壁畫，表達了香港與世界文化混合的特色。還有隱密卻充滿個性的酒吧；牆面上大幅東方女子肖像充滿野性與神秘，老日本丶老港派與新歐美文化混雜，不按牌理出牌的擺設邏輯逗人一笑，而這也正是香港風格。

section.popup#spot_image
	+btn-close
	.inner
		img(src="/tc/assets/images/tour_sample.jpg", alt="")
