<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="assets/styles/main.css")
		title 旺福與你一起創作的聖誕曲


	body
		header
			include _header.jade

		main
			section#home
				#bg_home
				//- bg1 一開始放空
				//- bg2 mami向前走
				//- bg3 把卡片收起來（需要加入使用者輸入文字並對準位置	）

				//- bg4 mami loading

				.mask

				section.step#step1
					.title
						h1 TITLE
					.content
						p 最新MV現在公開
						.btn PLAY
				section.step#step2
					.title
						h1 TITLE
					.content
						form(action="")
							//- 限制三個字元
							input#name(type="text" maxlength='3')

						.btn 看MV
				section.step#step3
					.title
						h1 TITLE
						p.tips 等一下下喔 下載即將完成

					.content
						.btn 播放

				section.step#step4
					.title
						h1 TITLE
						p.tips 等一下下喔 下載即將完成

					#video
						//- for master Kuei

					.content
						.btn 求你，分享一下MV
						.btn 看行程抽機票



		include _footer.jade
		script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js")
		script(src='assets/scripts/home.js')
