<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="/tc/assets/styles/main.css")
		title 旺福與你一起創作的聖誕曲

	body
		script.
			window.fbAsyncInit = function() {
				FB.init({
					appId            : '372656716505092',
					autoLogAppEvents : true,
					xfbml            : true,
					version          : 'v2.11'
				});
				FB.AppEvents.logPageView();
			};
			(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/zh_TW/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		include _mixin.jade
		.full_loader.show
			p
				|下載中
				span.count 0
				|%
			+loader

		header
			include _header.jade

		main
			section#home
				#bg_home

				.step#step1
					img(src="/tc/assets/images/home-title.png", alt="").title
					h1
						span.color_red 旺福
						|為
						span.color_red 你
						|創作的聖誕曲
					.content
						.row
							.btn.btn--big.btn-to_step2
								span PLAY
						.row
							a(href="./tour/").btn.btn-to_vote
								span 選路線抽機票，拿折扣

				.step#step2
					.title
						h2.big_title.color_red 請在框框內輸入姓名
						p.desc （ 3個字中文姓名限定 ）

					.name_input
						form(action="")
							//- user name
							input#name1(type="text" maxlength='3' autocomplete="off" placeholder='')
							input#name2(type="text" maxlength='1' autocomplete="off" placeholder='')
							input#name3(type="text" maxlength='1' autocomplete="off" placeholder='')

					.content
						.btn.btn--big.btn-to_step3
							span 看影片


				.step#step3
					img(src="/tc/assets/images/home-title.png", alt="").title
					p 等一下下喔，下載即將完成

					.loading
						+loader
					//- .content
					//- 	.btn.btn-to_step4
					//- 		span Loading Done

				.step#step5
					.video
						.video__screen
							video.video__videoElement(id="myVideo", muted, playsinline)
							audio.video__audioElement
							canvas.video__overlay(id="screen", width="1920", height="1080")
							canvas.video__firework(id="firework")
							img.video__cover.video__cover--active(src="/tc/assets/images/video-cover.png")
						.video__controls
							img.video__play.video__play--active(src="/tc/assets/images/play.svg")
							img.video__pause(src="/tc/assets/images/pause.svg")
							.video__timeline
								.video__progress
							img.video__repeat(src="/tc/assets/images/repeat.svg")
					.content
						.btn.btn-share
							span  求你，分享一下影片
						a(href="./tour/").btn
							span 選路線抽機票，拿折扣



		include _footer.jade
		script(src="//cdnjs.cloudflare.com/ajax/libs/pixi.js/4.6.1/pixi.min.js")
		script(src="/tc/assets/scripts/numeric-1.2.6.min.js")
		script.
			var keyFrameData = [];
		script(src="/tc/assets/scripts/keyframedata/keyframedata32.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata33.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata49.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata0101.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata0134.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata0136.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata0142.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata0158.js")
		script(src="/tc/assets/scripts/keyframedata/keyframedata0211.js")
		script(src="/tc/assets/scripts/video.js")
		script(src='/tc/assets/scripts/home.js')
