<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="assets/styles/main.css")
		title 旺福與你一起創作的聖誕曲


	body
		include _mixin.jade
		.full_loader.show
			p
				|下載中
				span.count 0
				|%
			+loader

		header
			include _header.jade

		main
			section#home
				#bg_home

				.step#step1
					img(src="assets/images/home-title.png", alt="").title
					.content
						.row
							.btn.btn--big.btn-to_step2
								span PLAY
						.row
							a(href="./tour.html").btn.btn-to_vote
								span 選旺福路線抽機票，領取機票折扣

				.step#step2
					.title
						h2.big_title.color_red 請於卡片處填入姓名

					.name_input
						form(action="")
							//- user name
							input#name1(type="text" maxlength='1' placeholder='')
							input#name2(type="text" maxlength='1' placeholder='')
							input#name3(type="text" maxlength='1' placeholder='')

					.content
						.btn.btn--big.btn-to_step3
							span 看MV


				.step#step3
					.loading
						p.tips
							|等一下下喔
							br
							|下載即將完成
						+loader
					.content
						.btn.btn-to_step4
							span Loading Done

				.step#step4
					//- video ready click to play
					.btn.btn--big.btn-play
						span 播放

				.step#step5
					#video
						//- for master Kuei
					.content
						.btn.btn-share
							span  求你，分享一下MV
						a(href="./tour.html").btn
							span 選旅行路線，抽機票



		include _footer.jade
		script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js")
		script(src='assets/scripts/home.js')
