<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="/tc/assets/styles/main.css")
		title 旺福與你一起創作的聖誕曲 - 聖誕地圖

	body
		header
			include _header.jade

		main
			include _tour_inner.jade
			//- 串 google map
			#hkmap


		include _footer.jade

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLLqkXFCrs7p3rwd1vUkvkG1CN01mdeXY")
		script(src='/tc/assets/scripts/map.js')


