<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		include _meta.jade

		title 旺福與你一起創作的聖誕曲 - 聖誕地圖

	body
		include _mixin.jade
		.full_loader.show
			p 下載中
			+loader

		header
			include _header.jade

		main
			include _tour_inner.jade
			//- 串 google map
			#hkmap


		include _footer.jade

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLLqkXFCrs7p3rwd1vUkvkG1CN01mdeXY")
		script(src='/tc/assets/scripts/map.js')


