//- mixin for close btn
mixin btn-close
	.btn-close
		.box
			span
			span
			span
//- mixin for tour
mixin spot(name)
	.btn.circle_box(class!=attributes.class)
		p.text!= name


<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="assets/styles/main.css")
		title 旺福與你一起創作的聖誕曲 - 聖誕行程
	body
		header
			include _header.jade

		main
			include _tour_inner.jade

			section.popup#spot_img
				+btn-close
				.inner
					img(src="", alt="")


			section.popup#promote_code.show
				+btn-close
				.inner
					h3 機票優惠資訊
					p.desc 小字說明文案待補，小字說明文案待補 小字說明文案待補
					p.code HUJ1s3123
					a(href="").btn.btn-buy 前往購買



			section.popup#user_data.show
				+btn-close
				.inner
					h3
						|完成投票
						br
						|留下資料抽獎

					form(action="")
						.row
							label(for="") 姓名：
							input(type="text")
						.row
							label(for="") 電話：
							input(type="text")
						.row
							label(for="") E-mail：
							input(type="text")
						.row.check
							input(type="checkbox" name='agree' id='user_agree')
							label(for="user_agree") 我已閱讀並同意相關活動辦法與隱私權政策

						button.btn.btn-submit 確認送出


			section#tour
				#bg_tour
					//- 雪花

				.airplane
					.row
						img(src="assets/images/deco-firework.png", alt="").deco-firework

					h2.color_red.big_title 聖誕行程幫我們決定啦
					h3.sub_title
						|旺福想要去香港過聖誕，但四人想去的地方都不同
						br
						|由你來決定路線，還有機會
						span.color_red 獲得香港來回機票

					.seat
						img(src="assets/images/deco-cloud.png", alt="").bg
						.flex
							.profile
								img(src="assets/images/member1.png", alt="")
								.dream
									img(src="assets/images/dream1.png", alt="")

							.profile
								img(src="assets/images/member2.png", alt="")
								.dream
									img(src="assets/images/dream2.png", alt="")

							.profile
								img(src="assets/images/member3.png", alt="")
								.dream
									img(src="assets/images/dream3.png", alt="")

							.profile
								img(src="assets/images/member4.png", alt="")
								.dream
									img(src="assets/images/dream4.png", alt="")
							//- img(src="assets/images/deco-light.png", alt="").light

						.flight_name
							p 旺福號聖誕班機
							p.way.flex
								span 台灣
								img(src="assets/images/deco-flight.png", alt="")
								span 香港


				.tour-list
					.quarter
						.flex_inner
							h3.member
								|推機
								span 耍氣質
								|行程
							+spot('雅痞<br/>聖地')(class='color-a1')
							+spot('文青<br/>都來這')(class='color-a2')
							+spot('老店<br/>老味道')(class='color-a3')
							+spot('一起<br/>墜入<br/>浪漫')(class='color-a4')
							+spot('香港<br/>夜未眠')(class='color-a5')
						.flex_inner
							h3.member
								|肚皮
								span 吃大餐
								|行程
							+spot('星級<br/>美食')(class='color-b1')
							+spot('不敗<br/>港味')(class='color-b2')
							+spot('盡嚐<br/>漁家味')(class='color-b3')
							+spot('街邊<br/>隱藏<br/>美食')(class='color-b4')
							+spot('潮人<br/>潮味')(class='color-b5')

						.flex_inner
							h3.member
								|瑪靡
								span 想逛逛
								|行程
							+spot('舊城<br/>中環')(class='color-c1')
							+spot('漫步<br/>老香港')(class='color-c2')
							+spot('時尚<br/>香港')(class='color-c3')
							+spot('港灣<br/>夜景')(class='color-c4')
							+spot('小酒館<br/>情懷')(class='color-c5')

						.flex_inner
							h3.member
								|小民
								span 想玩耍
								|行程
							+spot('復古<br/>情懷')(class='color-d1')
							+spot('香港<br/>迪士尼')(class='color-d2')
							+spot('海洋<br/>公園')(class='color-d3')
							+spot('摩天輪<br/>爬高高')(class='color-d4')
							+spot('小酒館<br/>情懷')(class='color-d5')

				#vote_event
					h2.big_title 你要選擇誰的聖誕行程呢
					h3.sub_title
							|選擇一個路線，有機會
							span.color_red 獲得香港來回機票

					.vote.quarter
						.flex_inner
							.btn.circle_box
								p.text
									|推機
									span 耍氣質
									|行程
						.flex_inner
							.btn.circle_box
								p.text
									|肚皮
									span 吃大餐
									|行程
						.flex_inner
							.btn.circle_box
								p.text
									|瑪靡
									span 想逛逛
									|行程
						.flex_inner
							.btn.circle_box
								p.text
									|小民
									span 想玩耍
									|行程

					.row
						.btn.btn-promote
							img(src="assets/images/icon-promote.png", alt="")
							span 優惠機票折扣立即領取


		include _footer.jade

