<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="/tc/assets/styles/main.css")
		title 旺福與你一起創作的聖誕曲 - 聖誕行程
	body
		include _mixin.jade

		.full_loader.show
			p
				|下載中
				span.count 0
				|%
			+loader
		header
			include _header.jade

		main
			include _tour_inner.jade

			section.popup#promote_code
				+btn-close
				.inner
					h3 機票折扣代碼
					h4
						|於華航官網購買香港來回機票
						br
						|可折抵150元

					p.code 2017HK
					.detail
						p.desc 使用方式：
						p.list
							|1.活動內容：凡於官網購票，並輸入折扣代碼「2017HK」，可享由台灣區(桃園/高雄/台中/台南)出發至香港，每張機票減價TWD 150元之折扣優惠。
						p.list
							|2.適用艙等：經濟艙全艙等皆適用。
						p.list
							|3.活動效期(開票日)：2017年11月27日至12月31日。
						p.list
							|4.出發日期：2017年11月27日至12月28日、2018年1月1日至2月14日、2018年2月19日至3月31日。
						p.list
							|5.本次活動僅限於華航官網購買華航/華信國際線成人、兒童來回機票(嬰兒票不適用)，不得與任何其他信用卡活動促銷案等合併使用。

					a(href="" target='_blank').btn.btn-buy 前往購買

			section.popup#user_data
				+btn-close
				.inner
					h3
						|完成投票
						br
						|留下資料抽獎

					form(id="register-form" method="post" action="../api/users")
						.row
							label(for="user_tel") 姓名：
							input(type="text" name=name)#user_name
						.row
							label(for="user_tel") 電話：
							input(type="tel" name='mobile')#user_tel
						.row
							label(for="user_email") E-mail：
							input(type="email" name='email')#user_email
						.row.check
							input(type="checkbox" name='agree' id='user_agree')
							label(for="user_agree") 我已閱讀並同意相關活動辦法與隱私權政策

						button.btn.btn-submit 確認送出

			section#tour
				#bg_tour
					//- 雪花

				.airplane
					.row
						img(src="/tc/assets/images/deco-firework.png", alt="").deco-firework
					h2.big_title 聖誕行程幫我們決定啦

					.seat

						img(src="/tc/assets/images/deco-cloud.png", alt="").bg

						h3.sub_title
							|旺福想去香港過聖誕
							br
							|看完他們各自的路線，由你來決定
							br
							|還有機會
							span.color_red 獲得香港來回機票

						.flex
							.profile
								img(src="/tc/assets/images/member1.png", alt="")
								.dream
									img(src="/tc/assets/images/dream1.png", alt="")

							.profile
								img(src="/tc/assets/images/member2.png", alt="")
								.dream
									img(src="/tc/assets/images/dream2.png", alt="")

							.profile
								img(src="/tc/assets/images/member3.png", alt="")
								.dream
									img(src="/tc/assets/images/dream3.png", alt="")

							.profile
								img(src="/tc/assets/images/member4.png", alt="")
								.dream
									img(src="/tc/assets/images/dream4.png", alt="")

						.flight_name
							p 旺福號聖誕班機
							p.way.flex
								span 台灣
								img(src="/tc/assets/images/deco-flight.png", alt="")
								span 香港


				.tour-list
					.quarter
						.flex_inner
							h3.member.color-1
								span 推機耍
								|氣質
							+spot('浪漫<br/>聖誕')(class='color-1')
							+spot('雅痞<br/>聖地')(class='color-1')
							+spot('生活<br/>提案')(class='color-1')
							+spot('浪漫<br/>情懷')(class='color-1')
							+spot('巷弄<br/>秘境')(class='color-1')

						.flex_inner
							h3.member.color-2
								span 肚皮吃
								|大餐
							+spot('閃耀<br/>維港')(class='color-2')
							+spot('繽紛<br/>滋味')(class='color-2')
							+spot('必吃<br/>甜點')(class='color-2')
							+spot('星級<br/>美食')(class='color-2')
							+spot('臥虎<br/>藏龍')(class='color-2')

						.flex_inner
							h3.member.color-3
								span 瑪靡想
								|逛街
							+spot('聖誕<br/>限定')(class='color-3')
							+spot('挖寶<br/>地圖')(class='color-3')
							+spot('文創<br/>潮流')(class='color-3')
							+spot('品味<br/>生活')(class='color-3')
							+spot('文青<br/>必逛')(class='color-3')

						.flex_inner
							h3.member.color-4
								span 小民想
								|玩耍
							+spot('閃耀<br/>維港')(class='color-4')
							+spot('歐風<br/>氣息')(class='color-4')
							+spot('繽紛<br/>聖誕')(class='color-4')
							+spot('雪花<br/>紛飛')(class='color-4')
							+spot('香港<br/>秘境')(class='color-4')

				#vote_event
					h2.big_title 你要選擇誰的聖誕行程呢
					h3.sub_title
							|選擇一個旺福路線，就有機會
							span.color_red 獲得香港來回機票

					.vote.quarter
						.flex_inner
							.btn.btn-vote.color-1
								.circle_box
									p.text
										span 我要選
										|氣質
										br
										|路線
						.flex_inner
							.btn.btn-vote.color-2
								.circle_box
									p.text
										span 我要選
										|大餐
										br
										|路線
						.flex_inner
							.btn.btn-vote.color-3
								.circle_box
									p.text
										span 我要選
										|逛街
										br
										|路線
						.flex_inner
							.btn.btn-vote.color-4
								.circle_box
									p.text
										span 我要選
										|玩耍
										br
										|路線

					.row
						.btn.btn-promote
							.s_text
								|不想抽機票
								br
								|想立即出發
							img(src="/tc/assets/images/icon-promote.png", alt="")
							span 領取機票折扣碼


		include _footer.jade
		script(src='/tc/assets/scripts/tour.js')
