<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		title video test
		link(rel="stylesheet", href="assets/styles/video.css")
	body
		div(class="videoContainer")
			video(controls)
				source(src="assets/videos/test.mp4", type="video/mp4")
		