<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title video test
		link(rel="stylesheet", href="assets/styles/main.css")
	body
		.video
			.video__screen
				video.video__videoElement(id="myVideo", muted, playsinline)
				audio.video__audioElement
				canvas.video__overlay(id="screen", width="1920", height="1080")
				canvas.video__firework(id="firework")
				img.video__cover.video__cover--active(src="/assets/images/video-cover.png")
			.video__controls
				img.video__play.video__play--active(src="/assets/images/play.svg")
				img.video__pause(src="/assets/images/pause.svg")
				.video__timeline
					.video__progress
				img.video__repeat(src="/assets/images/repeat.svg")
		div(class="msg")
		button(id="move") 看煙火


		//- script.
		//- 	var keyFrameData = [];
		//- script(src="assets/scripts/keyframedata/keyframedata32.js")
		//- script(src="assets/scripts/keyframedata/keyframedata33.js")
		//- script(src="assets/scripts/keyframedata/keyframedata49.js")
		//- script(src="assets/scripts/keyframedata/keyframedata0101.js")
		//- script(src="assets/scripts/keyframedata/keyframedata0134.js")
		//- script(src="assets/scripts/keyframedata/keyframedata0136.js")
		//- script(src="assets/scripts/keyframedata/keyframedata0142.js")
		//- script(src="assets/scripts/keyframedata/keyframedata0158.js")
		//- script(src="assets/scripts/keyframedata/keyframedata0211.js")

		script(src="//cdnjs.cloudflare.com/ajax/libs/pixi.js/4.6.1/pixi.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js")
		//- script(src="http://www.numericjs.com/lib/numeric-1.2.6.min.js")
		script(src="assets/scripts/mv.js")
		script.
			var myMv = new mv();

			myMv.start({
				img: ['assets/images/test/testname1-mobile.png', 'assets/images/test/testname2-mobile.png', 'assets/images/test/testname3-mobile.png', 'assets/images/test/testname4-mobile.png', 'assets/images/test/testname5-mobile.png', 'assets/images/test/testname6-mobile.png', 'assets/images/test/testname7-mobile.png', 'assets/images/test/fireworktext.png'],
				music: 'assets/videos/testaudio.mp3',
				complete: function() {
					alert("OK");
				}
			});


			document.getElementById("move").addEventListener("click", function() {
				myMv.seekTo(115);
				myMv.playVideo();
			})
