<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		title video test
		link(rel="stylesheet", href="assets/styles/video.css")
	body
		div(class="videoContainer")
			video(id="myVideo", controls)
				source(src="assets/videos/test.mp4", type="video/mp4")
			div(class="point")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
		script.
			var data = [[0,614.5,410],
				[1.24875,614.277,409.414],
				[2.4975,613.387,408.039],
				[3.74625,612.727,407.43],
				[4.995,610.707,405.273],
				[6.24375,609.633,404.535],
				[7.4925,608.82,403.305],
				[8.74125,608.105,402],
				[9.99,605.59,398.82],
				[11.2388,604.305,397.793],
				[12.4875,603.949,396.672],
				[13.7363,603.105,395.621],
				[14.985,601.137,394.348],
				[16.2338,599.961,393.086],
				[17.4825,598.781,392.113],
				[18.7313,597.801,389.883],
				[19.98,595.586,386.258],
				[21.2288,594.762,384.262],
				[22.4775,593.711,382.121],
				[23.7263,592.414,379.055],
				[24.975,591.246,376.891],
				[26.2238,589.695,374.852],
				[27.4725,587.953,372.344],
				[28.7213,584.496,369.555],
				[29.97,582.875,368.055],
				[31.2188,580.711,366.172],
				[32.4675,579.594,365.051],
				[33.7163,578.699,361.117],
				[34.965,576.285,359.301],
				[36.2137,572.629,356.602],
				[37.4625,569.93,353.824],
				[38.7113,565.711,349.543],
				[39.96,563.145,347],
				[41.2088,559.902,344.648],
				[42.4575,554.66,340.813],
				[43.7063,551.348,339.484],
				[44.955,548.211,338.57],
				[46.2038,545.199,338.426],
				[47.4525,539.102,338.711],
				[48.7013,536.324,338.289],
				[49.95,533.602,338.473],
				[51.1988,530.156,337.707],
				[52.4475,523.355,337.18],
				[53.6963,520.969,336.57],
				[54.945,518.5,336.277],
				[56.1938,514.574,335.836],
				[57.4425,506.309,333.422],
				[58.6913,502.109,332.836],
				[59.94,497.922,332.223],
				[61.1887,494.133,331.902],
				[62.4375,486.219,332.648],
				[63.6863,482.441,332.313],
				[64.935,479.746,333.422],
				[66.1838,473.293,333.617],
				[67.4325,470.145,334.426],
				[68.6813,467.57,335.035],
				[69.93,465.414,335.078],
				[71.1788,459.535,334.586],
				[72.4275,456.418,333.395],
				[73.6763,453.469,333.176],
				[74.925,450.773,331.523],
				[76.1737,444.93,329],
				[77.4225,442.336,328.242],
				[78.6713,439.77,327.012],
				[79.92,436.543,326.113],
				[81.1688,432.211,322.535],
				[82.4175,429.789,321.34],
				[83.6663,427.73,319.359],
				[84.915,424.703,315.738],
				[86.1638,422.5,313.641],
				[87.4125,419.398,311.738],
				[88.6613,415.086,309.582],
				[89.91,407.5,306.559],
				[91.1587,402.5,304.449],
				[92.4075,397.5,302.227],
				[93.6563,392.816,300.66],
				[94.905,385.5,297.266],
				[96.1538,382.816,296.586],
				[97.4025,379.871,295],
				[98.6513,377.547,294],
				[99.9,373.613,291.121],
				[101.149,371.813,288.512],
				[102.398,370.121,286.367],
				[103.646,369.5,282.777],
				[104.895,368.309,274.629],
				[106.144,368.73,271.18],
				[107.393,370.5,269],
				[108.641,376.855,268.551],
				[109.89,381.121,268],
				[111.139,385.5,267.84],
				[112.388,389.516,267.09],
				[113.636,399.234,266.211],
				[114.885,405.238,265.781],
				[116.134,410.496,264.789],
				[117.383,414.934,264],
				[118.631,425.5,264.695],
				[119.88,431.5,265],
				[121.129,437.129,265],
				[122.378,442.762,266],
				[123.626,453.762,266.73],
				[124.875,461.938,268.758],
				[126.124,469.91,270.617],
				[127.373,461.496,271.117],
				[128.621,469.32,274.117],
				[129.87,476.371,274.195],
				[131.119,482.41,276.137],
				[132.368,492.684,282.07],
				[133.616,500.211,283.047],
				[134.865,505.203,286.117],
				[136.114,509.336,290.117],
				[137.363,513.402,297.164],
				[138.611,513.297,302.059],
				[139.86,513.441,304.113],
				[141.109,512.41,308.102],
				[142.358,511.352,314.059],
				[143.606,511.379,315.164],
				[144.855,517.473,321.004],
				[146.104,527.91,327.266],
				[147.353,529.703,331.168],
				[148.601,529.355,334.152],
				[149.85,527.652,336.895],
				[151.099,523.676,343.273],
				[152.348,522.234,347.41],
				[153.596,520.238,349.18],
				[154.845,517.711,350.09],
				[156.094,515.109,353.391],
				[157.343,512.18,353.883],
				[158.591,509.305,353.445],
				[159.84,506.48,352.434],
				[161.089,502.25,350.438],
				[162.338,500.41,349.012],
				[163.586,498.672,347.863],
				[164.835,497.645,348.422],
				[166.084,497.145,351.891],
				[167.333,495.754,351.793],
				[168.581,495.375,353.891],
				[169.83,494.715,353.395],
				[171.079,494.602,353.223],
				[172.328,495.137,351.273],
				[173.576,494.156,348.445],
				[174.825,493.305,346.301],
				[176.074,493.477,344.215],
				[177.323,493.652,343.336],
				[178.571,494.41,343.039],
				[179.82,495.137,341.953],
				[181.069,496.316,341.117],
				[182.318,497.613,341.453],
				[183.566,498.262,342.203],
				[184.815,496.68,341.406],
				[186.064,497.137,340.266],
				[187.313,497.207,340.395],
				[188.561,498.586,340.945],
				[189.81,498.641,342.191],
				[191.059,498.516,344.793],
				[192.308,498.465,348.445],
				[193.556,498.453,352.848],
				[194.805,499.5,354.832],
				[196.054,500.594,356.969],
				[197.303,501.426,357.219],
				[198.551,501.445,356.117],
				[199.8,501.41,356.059],
				[201.049,502.184,355.117],
				[202.298,503.164,354.801],
				[203.546,505.453,350.797],
				[204.795,507.078,348.996],
				[206.044,509.137,347.84],
				[207.293,510.191,346.375],
				[208.541,512.359,339.18],
				[209.79,512.539,335.375],
				[211.039,512.629,332.477],
				[212.287,514.598,329.5],
				[213.536,515.191,328.75],
				[214.785,515.754,326.852],
				[216.034,515.523,324.359],
				[217.283,512.684,320.941],
				[218.531,513.219,319.5],
				[219.78,512.391,317.223],
				[221.029,511.145,313.98],
				[222.278,510.484,313.766],
				[223.526,510.699,313.992],
				[224.775,510.777,315.898],
				[226.024,511.563,317.457],
				[227.273,512.09,317.156],
				[228.521,511.219,316.977],
				[229.77,510.758,315.832],
				[231.019,510.074,316.723],
				[232.268,509.617,315.172],
				[233.516,510.125,314.254],
				[234.765,510.148,315.039],
				[236.014,510.305,315.867],
				[237.263,510.137,316.328],
				[238.511,508.629,317.441],
				[239.76,507.641,316.797],
				[241.009,507.492,315.195],
				[242.258,507.496,315.414],
				[243.506,507.508,315.297],
				[244.755,508.332,315.734],
				[246.004,509.09,315.84],
				[247.253,510.527,316.07],
				[248.501,511.383,316.074],
				[249.75,512.18,316.496],
				[250.999,512.391,316.02]]


			var v = document.getElementById("myVideo"); 
			var frameRate = 29.97;
			getCurrentVideoFrame();
			function getCurrentVideoFrame() {
			    /**
			     * Gets the current time, multiplies by the framerate to find current frame
			     */

			    curTime = v.currentTime;
			    theCurrentFrame=Math.floor(curTime*frameRate);

			    for( var i=0; i<data.length; i++ ) {
					if( Math.floor(data[i][0]) == theCurrentFrame ) {
						console.log("YES");
						TweenMax.set($(".point"), {x:data[i][1], y:data[i][2]});
					}
			    }
				//- console.log( theCurrentFrame );
			    requestAnimationFrame(getCurrentVideoFrame);
			}

			//- v.ontimeupdate = function() {
			//-     curTime = v.currentTime;
			//-     theCurrentFrame=Math.floor(curTime*frameRate);

			//-     for( var i=0; i<data.length; i++ ) {
			//- 		if( Math.floor(data[i][0]) == theCurrentFrame ) {
			//- 			console.log("YES");
			//- 			TweenMax.set($(".point"), {x:data[i][1], y:data[i][2]});
			//- 		}
			//-     }
			//- }