
@mixin flex-box{
	display: -ms-flexbox;
	@include display-flex;
}
@mixin flex-center{
	-ms-flex-align: center;
	-ms-flex-pack: center;
	@include justify-content(center);
	@include align-items(center);
}

@mixin btn-box{
  @include border-radius(40px);
  @include display-flex(inline-flex);
  @include align-items(center);
  border: 1px solid #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: .5rem 2rem;
}
@mixin btn-close{
  width: 50px;
  height: 100%;
  // width: 40px; height: 40px;
  .box{
    @include border-radius(50%);
    @include flex-box;
    @include flex-center;
    @include flex-direction(column);
    position: relative;
    background-color: #229000;
    width: 50px; height: 50px;
    left: 0px; top: 5px;

    @include desktop_s {
      top: 21px;
    }
  }

  span{
    @include border-radius(1px);
    display: block;
    width: 30px;  height: 2px;
    background-color: $red;
    margin: 3px auto;
    &:nth-child(1){
      @include transform(translate(0, 8px) rotate(45deg));
    }
    &:nth-child(2){
      opacity: 0;
    }
    &:nth-child(3){
      @include transform(translate(0, -8px) rotate(-45deg));
    }

  }

}

//medai query
@mixin desktop_l {
  @media (min-width: 1367px) {
    @content;
  }
}
@mixin desktop_m {
  @media (min-width: 1025px) {
    @content;
  }
}
@mixin desktop_s {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin mobile_l {
  @media (min-width: 376px) {
    @content;
  }
}
@mixin mobile_m {
  @media (min-width: 321px) {
    @content;
  }
}

@mixin mobile_s {
  @media (max-width: 320px) {
    @content;
  }
}